body {
  width: 470px;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.902);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(255, 255, 255);
}

.hidden{
  display: none !important;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selectbox {
  margin-top: 10vh;
  width: 190px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #eaaf56;
  background-color: rgba(0, 0, 0, 0.902);
  border-radius: 5px;
}

input {
  outline: none;
  border-style: groove;
  background-color: rgba(0, 0, 0, 0.458);
  border-color: white;
  font-size: 30px;
  text-align: center;
  color: #eaaf56;
  width: 400px;
}

.btn {
  text-align: center;
	cursor: pointer;
  border-radius: 0px;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 3px;
  min-width: 148px;
  max-width: 148px;
  -moz-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}

.btn:hover {
  -moz-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}

.btn-green{
  border:solid 2px #62ea56;
  background: transparent;
  color: #fff !important;
}
.btn-green:hover{
  border:solid 2px #62ea56;
  background: #62ea56;
  color: #1f1f1f !important;
}

.btn-red{
  border:solid 2px #da340b;
  background: transparent;
  color: #fff !important;
}
.btn-red:hover{
  border:solid 2px #da340b;
  background: #da340b;
  color: #1f1f1f !important;
}

.buttons-container{
  margin-top: 9vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* toast */
.toast {
  color: #000;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1.25em;
  position: absolute;
  right: -365px;
  bottom: 1em;
  transition: 0.15s ease-in-out;
  width: 150px;
}

.toast.on {
  transform: translateX(-365px);
}

.success {
  background-color: #097c57;
  color: #fff;
}

.error {
  background-color: #7c1a09;
  color: #fff;
}

.pageTypes{
  margin-top: 10vh;
}

.rbcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rbcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.rbcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.rbcontainer input:checked ~ .checkmark {
  background-color: #c7950b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rbcontainer input:checked ~ .checkmark:after {
  display: block;
}

.rbcontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#config{
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#config:hover{
  cursor: pointer;
  filter: invert(50%) grayscale(50%);
  text-decoration: underline;
}

.gear-icon {
  width: 30px;
  height: auto;
  filter: invert(100%);
}

#home{
  font-size: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

#home:hover{
  cursor: pointer;
  filter: invert(50%) grayscale(50%);
  text-decoration: underline;
}

#mock-tool-url{
  font-size: 20px;
  min-height: 40px;
}

.house-icon {
  width: 30px;
  height: auto;
  filter: invert(100%);
}

